@import '../../../styles/theme';

.transactions-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: 40vh 10vh 50vh;
  height: 100vh;
  box-sizing: border-box;
  padding: $theme-spacingx4;
  gap: $theme-spacingx4;
}

.transactions-summary {
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions-header__title {
  font-size: 34px;
  letter-spacing: 1px;
  font-weight: 500;
}

.transactions-header__details {
  margin-top: $theme-spacingx2;
  color: $theme-color-alternative-dark;
}

.transactions-header__button {
  @include theme-button-primary;
  font-size: 11px;

  .icon {
    margin-right: 5px;
  }
}

.transactions-list {
  overflow-y: auto;
  max-height: 62vh;
  padding-right: 8px;
}

.transactions-list-item {
  & + .customers-list-item {
    border-top: 1px solid rgba($theme-color-black, .05);
  }
}

.customer-transactions-summary {
    height: 100%;
    box-sizing: border-box;
    // padding: $theme-spacingx4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .customer-transactions-profile {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    padding: $theme-spacingx2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $theme-color-white;
    background-image: url(/assets/images/zeta/customer-isometric-accenture.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    @include box-shadow;
  }
  
  .customer-transactions-costs {
    height: 40%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  
  .customer-transactions-products {
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
  }
  
  .profile-name {
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .profile-address {
    font-size: 12px;
  }
  
  .profile-city {
    font-size: 12px;
    color: $theme-color-alternative-dark;
  }
  
  .profile-state {
    font-size: 12px;
    color: $theme-color-alternative-dark;
  }
  
  .cost-item {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding: $theme-spacingx3;
    background-color: $theme-color-white;
    @include box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cost-item__icon {
    color: $theme-color-primary;
    font-size: 24px;
  }
  
  .cost-item__title {
    font-weight: 400;
    font-size: 12px;
  }
  
  .cost-item__price {
    font-weight: 700;
    font-size: 24px;
  }
  
  .cost-item--highlight {
    background-color: $theme-color-primary;
  
    .cost-item__icon {
      color: $theme-color-white;
    }
  
    .cost-item__title {
      color: $theme-color-alternative-dark;
    }
  
    .cost-item__price {
      color: $theme-color-white;
    }
  }
  

