/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import './app/styles/fonts.scss';
@import './app/styles/theme.scss';

// RESET
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: $theme-fontSize-base;
}

// GLOBAL
body {
  font-size: 1.4rem;
  font-family: $fontFamilyAccenture;
}

.custom-scroll::-webkit-scrollbar-track
 {
    //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     -webkit-box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.25);
    //  border-radius: 10px;
     background-color: #F5F5F5;
 }

.custom-scroll::-webkit-scrollbar
 {
     width: 5px;
     background-color: #F5F5F5;
 }

.custom-scroll::-webkit-scrollbar-thumb
 {
    //  border-radius: 10px;
     background-image: -webkit-gradient(linear,
     left bottom,
     left top,
     color-stop(0.44, $theme-color-primary),
     color-stop(0.86, $theme-color-primary-dark));
    //  -webkit-box-shadow: inset 3px -3px 8px 0 rgba(255,255,255,0.5), 0 1px 1px 0 rgba(0,0,0,0.5);
 }
